html{
    height: 100%;
    position: center absolute;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Sue Ellen Francisco;
    font-size: 30px;
    color: black;
    text-align: center;
    background-color:#f3f5f4;
    height: 100%;
}

header{
    padding: 0%;
    position: fixed;
    top: 0;
    background-color: #f3f5f4;
    background-repeat: repeat-x;
    width: 100%;
}

div.Top_Navigation{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    text-shadow: 12px 12px 14px grey, 5px 5px 7px #abe3f8;
}

h1{
    font-family: "Yomogi";
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    color: #efb8cc;
    text-shadow: 12px 12px 14px grey, 5px 5px 7px #abe3f8;
}

h2.Section_Headings{
    font-size: 60px;
    font-family: Swanky and Moo Moo;
}

section.Webpage_Start{
    padding-top: 20%;
    padding-bottom: 100%;
    background: url("https://Dishsoapy.github.io/8-bitJPBG.png") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section.Default_Section_Layout{
    padding-top: 20%;
    padding-bottom: 100%;
}

a.No_Decoration{
    text-decoration: none;
    color: #b803ff;
}

div.Technical_Skills_Container{
    display: inline-block;
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

ul.About_To_Left{
    float: left;
    direction: ltr;
    list-style-type:square;
    text-align: left;
}

ul.About_To_Right{
    float: right;
    direction: rtl;
    list-style-type:square;
    text-align: right;
}

section.Projects{
    position: relative;
    height: 3000px;
    margin-top: 5%;
}

/*Remove bullet points from any ordered lists*/

nav.Footer_Links{
    align-items: center;
    position: relative;
}


img.Pic{
    padding-top: 10%;
}

/*To position it with the LinkedIn Icon*/
img.Github_Pic{
    height: 80px;
    width: 90px;
    position: relative;
    top: 5px;
    right: 5px;
}

img.LinkedIn_Pic{
    height: 60px;
    width: 60px;
}

/*To position it with the LinkedIn Icon*/
img.Email_Pic{
    height: 100px;
    width: 100px;
    position: relative;
    top: 25px;
}

/* Start of Flex styles, WIP*/
.container {
    display: flex;
}