html{
    height: 100%;
    position: center absolute;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Sue Ellen Francisco;
    font-size: 30px;
    color: black;
    text-align: center;
    background-color:#f3f5f4;
    height: 100%;
}

div.Landing_Page_Container{
    font-family: "Yomogi";
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    text-shadow: 12px 12px 14px grey, 5px 5px 7px #abe3f8;;
    background: url("https://Dishsoapy.github.io/8-bitJPBG.png") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 3000px;
}

ol.Anchor_List{
    position: relative;
    top: 20%;
    font-family: Syncopate;
    font-weight: bolder;
    font-size: 30px;
}

h2.Section_Headings{
    font-size: 50px;
    font-family: Swanky and Moo Moo;
}

section.About_Me{
    position: relative;
    height: 3000px;
    margin-top: 5%;
}

div.Technical_Skills_Container{
    display: inline-table;
    margin-left: 40px;
    margin-right: 40px;
}

ul.About_To_Left{
    direction: ltr;
    list-style-type:square;
    text-align: left;
}

ul.About_To_Right{
    direction: rtl;
    list-style-type:square;
    text-align: right;
}

section.Projects{
    position: relative;
    height: 3000px;
    margin-top: 5%;
}

section.Updates{
    position: relative;
    height: 1250px;
    margin-top: 5%;
}

/*Remove bullet points from any ordered lists*/
ol.No_Bullet_Points{
    list-style: none;
}

ol.Website_Updates{
    text-align: left;
}

nav.Footer_Links{
    align-items: center;
    position: relative;
}


img.Pic{
    padding-top: 10%;
}


/*To position it with the LinkedIn Icon*/
img.Github_Pic{
    height: 80px;
    width: 90px;
    position: relative;
    top: 5px;
    right: 5px;
}

img.LinkedIn_Pic{
    height: 60px;
    width: 60px;
}

/*To position it with the LinkedIn Icon*/
img.Email_Pic{
    height: 100px;
    width: 100px;
    position: relative;
    top: 25px;
}

/* Start of Flex styles, WIP*/
.container {
    display: flex;
}