html{
    height: 100%;
    position: center absolute;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: Sue Ellen Francisco;
    font-size: 30px;
    color: black;
    text-align: center;
    background-color:#f3f5f4;
    height: 100%;
}

div.Top_Navigation{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #f3f5f4;
}

section.Webpage_Start{
    background: url("https://Dishsoapy.github.io/8-bitJPBG.png") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 100%;
}

h1{
    font-family: Yomogi;
    font-size: 100px;
    text-shadow: #b803ff 2px 2px 4px;
}

h2.Section_Headings{
    font-size: 50px;
    font-family: Swanky and Moo Moo;
}

section.Default_Section_Layout{
    padding-top: 5%;
    padding-bottom: 100%;
}

a.No_Decoration{
    text-decoration: none;
    color: #b803ff;
}

div.Technical_Skills_Container{
    display: inline-table;
    width: 50%;
}

dt.Project_Name{
    font-size: 40px;
    color: #ee849b;
}

dd.Project_Description{
    font-size: 25px;
}

ul.About_To_Left{
    direction: ltr;
    float: left;
    list-style-type:square;
    text-align: left;
}

ul.Projects_Left{
    direction: ltr;
    float: left;
    list-style-type:square;
    text-align: left;
}

ul.About_To_Right{
    direction: rtl;
    float: right;
    list-style-type:square;
    text-align: right;
}


/*Remove bullet points from any ordered lists*/

nav.Footer_Links{
    align-items: center;
    position: relative;
}


img.Pic{
    padding-top: 10%;
}

/*To position it with the LinkedIn Icon*/
img.Github_Pic{
    height: 80px;
    width: 90px;
    position: relative;
    top: 5px;
    right: 5px;
}

img.LinkedIn_Pic{
    height: 60px;
    width: 60px;
}

/*To position it with the LinkedIn Icon*/
img.Email_Pic{
    height: 100px;
    width: 100px;
    position: relative;
    top: 25px;
}

/* Start of Flex styles, WIP*/
.container {
    display: flex;
}